@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 26%);
}

body {
    padding: 0.5rem;
}

div {
    margin: 1rem 0;
}