* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Courier Prime', monospace;
    color: #4E4E4E;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}




.wrapper {
    text-align: center;
}


.message {
    width: fit-content;
    padding: .3rem;
    margin: 2rem auto;
    border-radius: .3rem;
}

.morning {
    background-color: #F7EBD4;
    color: #866A2C;
}

.afternoon {
    background-color: #D4F7E6;
    color: #32755D;
}

.night {
    background-color: #2C4335;
    color: #64C094;
}


output {
    display: inline-block;
    font-size: 6rem; 
    color: #9A9DB4;
    font-weight: 900;
}




