* {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  color: #434343;
}

body {
  padding: 0.5rem;
}

.wrapper {
  margin-top: 1rem;
}

input[type="number"] {
  width: 15%;
}

input[type="button"] {
  cursor: pointer;
}

output {
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid #434343;
  margin: 1rem 0;

  display: block;
}

#secondaryOutput {
  border: none;
}