@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: #424242;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    max-width: 80%;
    width: 400px;
    padding: 20px;
    font-size: 17px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.200);

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    margin: 1rem 0;
}

input {outline: none;}

#button {
    padding: 5px 10px;
    background: #4285F4;
    color: #FFF;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.200);
    cursor: pointer;
    font-size: 14px;
}

footer p {
    font-size: 12px;
}